[flake8]
max-line-length = 120
extend-ignore = E203, E266, E501, W503, C901
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    *.egg-info
max-complexity = 30
per-file-ignores =
    __init__.py:F401
